@font-face {
  font-family: 'ethnocen';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('ethnocen.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* -------------------------------------------------------------------------------------------------------------*/
/* --------------------------------PARA DATATABLE-----------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------*/
.fondo{ background: rgba(51, 122, 183, 0.8); color: #ffffff; }
.linea-izquierda { border-left: solid 3px #d9534f; }
.ocultar{   display: none; }
/* -------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------*/
#central {
    background-color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 5px #666666;
    overflow: hidden;
    padding: 30px 15px 15px;
  width:900px;
  margin-bottom:50px;
  margin-top:50px;
  margin: 0px auto;
}
.service_category {
    background-color: #D0D3D8;
    border: 1px solid #D0D3D8;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    font-size: 16px;
    font-weight: bold;
    height: auto;
    margin-bottom: 0.3em;
    padding: 6px;
}
.service_list {
/*
   background-color:#FFFFFF;
    border: 1px solid #D0D3D8;
*/
    border-radius: 3px 3px 3px 3px;
    clear: both;
    height: auto;
    margin-bottom: 0.3em;
    min-height: 130px;
    padding: 6px;
  margin-bottom:10px;
}
#contenido_zoom_imagen {
    position: relative;
    width: 580px;
    height: auto;
    margin: 20px auto;
    border: 12px solid #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(50,50,50 0.5);
}
/*
.center_block {
    float: left;
    width: 98%;
}
.product_desc {
    font-size: 0.92em;
    margin-bottom: 0;
    text-align: justify;
}
.right_block_list {
    float: left;
    margin-left: 1em;
    margin-top: 0;
    text-align: right;
    width: 11em;
}
.price {

    font-size: 1.5em;
    margin-bottom: 0.2em;
    color: #DA0F00;
    font-weight: bold;
}
.new {
    background: url("../imagenes/flag_new_bg.jpg") repeat-x scroll 0 50% transparent;
    border: 1px solid #488C40;
    color: white;
    font-size: 0.6em;
    font-weight: bold;
    margin: 0 1em 0 0;
    padding: 0 0.4em;
    text-transform: uppercase;
    vertical-align: 0.3em;
}
.product_img_link {
    border: 1px solid #D0D3D8;
    float: left;
    margin-right: 0.6em;
}
#image-block {
    cursor: pointer;
    height: 200px;
    width: 200px;
    float: left;
    border: 1px solid #D0D1D5;
}
#desc_info {
    float: left;
    margin-left: 1em;
    margin-top: 0;
    width: 690px;
    text-align: justify;
}
.pagination {
    height: 36px;
    margin: 18px 0;
}
.pagination ul {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination li {
    display: inline;
}
.pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    line-height: 34px;
    padding: 0 14px;
    text-decoration: none;
}
.pagination a:hover, .pagination .active a {
    background-color: #F5F5F5;
}
.pagination .active a {
    color: #999999;
    cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
    background-color: transparent;
    color: #999999;
    cursor: default;
}
.pagination li:first-child a {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
    border-radius: 0 3px 3px 0;
}
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}
.rating {
background: #FFFFFF;
    float: left;
    height: 40px;
    margin: 15px auto 0;
    padding-top: 5px;
    text-align: center;
}
.estrella {
background: url('../../imagenes/estrella-gris.png') no-repeat;
width:25px;
height:23px;
float:left;
cursor:pointer;
}

.estrella:hover {
background: url('../../imagenes/estrella-verde.png') no-repeat;
width:25px;
height:23px;
float:left;
}
.selected {
background: url('../../imagenes/estrella-verde.png') no-repeat;
width:25px;
height:23px;
float:left;
}
.ok {
font-weight:bold;
margin-top:5px;
color: #669900;
}
#actual {
float:left;
margin-left:5px;
}

a {
    color: #2D2D28;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
  color:#2d2d28;
  outline:0;
  text-decoration:underline;
  font-weight: bold
}
*/
.eliminar {
cursor: pointer;
}
.editar {
cursor: pointer;
}
.insertar {
cursor: pointer;
}
.info, .correcto, .ojo, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    text-align:left;
    width:auto;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../imagenes/info.jpg');
}
.correcto {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../imagenes/correcto.JPG');
}
.ojo {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../imagenes/ojo.JPG');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../imagenes/error.jpg');
}
/*color del interior (fondo) de la tabla */
tbody th, td {
  background-color: #333;
}
/*cambiar de color cuando se esta sobre la celda */
tbody tr:hover td, tbody tr:hover th {
  background-color: #81818F;
}
td,th,tr:hover {
font-weight:bold;
color: #fff;
font-size: 1em;
}
#enviar{
cursor: pointer;
background:-moz-linear-gradient(#000 0%,#669 100%);
background:-ms-linear-gradient(#000 0%,#669 100%);
background:-o-linear-gradient(#000 0%,#669 100%);
background:-webkit-linear-gradient(#000 0%,#333 100%);
background:linear-gradient(#000 0%,#333 100%);
outline:solid 1px #333;
outline-radius:5px;
text-align:center;
padding:5px;
color:#fff;
width:150px;
}
#boton1{
cursor: pointer;
background:-moz-linear-gradient(#4f5058 0%,#FF9999 100%);
background:-ms-linear-gradient(#4f5058 0%,#FF9999 100%);
background:-o-linear-gradient(#4f5058 0%,#FF9999 100%);
background:-webkit-linear-gradient(#4f5058 0%,#FF9999 100%);
background:linear-gradient(#4f5058 0%,#FF9999 100%);
border:solid 1px #FF9999;
border-radius:5px;
text-align:center;
padding:5px;
color:#fff;
width:150px;
}
#boton1:hover{
background:-moz-linear-gradient(#4f5058 0%,#fff 100%);
color:#000;
}
table,td {
	border: 1px solid #FF9999;
	border-collapse: collapse;
  font: small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
fieldset.menu {
margin:0px;
border:0px;
width: 100%;
height: 115px;
background-position:center;
background-color: #e3e3e3;
background: -moz-linear-gradient(top, #FF9999 , #669);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FF9999),  to(#669));
}
ul.menu {
margin:0px;
border:0px;
width: 100%;
height: 40px;
background: -webkit-linear-gradient(top, #669 50%,#FF9999 100%);
background: -moz-linear-gradient(top, #669 50%,#FF9999 100%);
background: -o-linear-gradient(top, #669 50%,#FF9999 100%);
background: -ms-linear-gradient(top, #669 50%,#FF9999 100%);
background: linear-gradient(top, #669 50%,#FF9999 100%);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 0px;
}
h2 {
font-family: Georgia;
font-size: 2.4em;
font-weight:bold;
text-shadow: 0 1px 0 #CCCCCC;
text-align:center;
/* LETRAS ILUMINADAS PURPURA */
text-shadow: 0 0 0.2em #FF9999, 0 0 0.2em #FF9999, 0 0 0.2em #FF9999;
color: #FFF;
}
h4 {
font-family: Georgia;
font-size: 0.7em;
text-shadow: 0 1px 0 #CCCCCC;
text-align:left;
text-shadow: 0 0 0.2em #FF9999, 0 0 0.2em #FF9999, 0 0 0.2em #FF9999;
color: #FFF;
}
h1 {
font-family: Georgia;
font-size: 1.1em;
font-weight:bold;
text-shadow: 0 1px 0 #CCCCCC;
text-align:center;
/* LETRAS ILUMINADAS PURPURA */
text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F;
color: #FFF;
padding-bottom: 2em;
}
h3 {
font-family: Arial;
font-size: 1em;
font-weight:bold;
text-shadow: 0 0 0.0em #FF0000, 0 0 0.0em #FF0000, 0 0 0.0em #FF0000;
color: #FFF;
}
ul.menu, ul.menu ul, ul.menu li, ul.menu a {
margin: 0;
padding: 0;
border: none;
outline: none;
}
ul.menu li {
position: relative;
list-style: none;
float: left;
display: block;
height: 40px;
}
ul.menu li a {
display: block;
padding: 0 18px;
margin: 5px 0;
line-height: 30px;
text-decoration: none;
border-left: 1px solid #393942;
border-right: 1px solid #4f5058;
font-family: Helvetica, Arial, sans-serif;
font-weight: bold;
font-size: 1em;
color: #f3f3f3;
text-shadow: 1px 1px 1px rgba(0,0,0,.6);
-webkit-transition: color .2s ease-in-out;
-moz-transition: color .2s ease-in-out;
-o-transition: color .2s ease-in-out;
-ms-transition: color .2s ease-in-out;
transition: color .2s ease-in-out;
}
ul.menu li:first-child a { border-left: none; }
ul.menu li:last-child a{ border-right: none; }
ul.menu li:hover > a { color: #caad16; }
ul.menu ul {
position: absolute;
top: 40px;
left: 0;
width: auto;
opacity: 10;
background: rgba(0,0,0,0.70);
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
-webkit-transition: opacity .25s ease .1s;
-moz-transition: opacity .25s ease .1s;
-o-transition: opacity .25s ease .1s;
-ms-transition: opacity .25s ease .1s;
transition: opacity .25s ease .1s;
}
ul.menu li:hover > ul { opacity: 1; }
ul.menu ul li {
height: 0;
overflow: hidden;
padding: 0;
-webkit-transition: height .25s ease .1s;
-moz-transition: height .25s ease .1s;
-o-transition: height .25s ease .1s;
-ms-transition: height .25s ease .1s;
transition: height .25s ease .1s;
}
ul.menu li:hover > ul li {
height: 36px;
overflow: visible;
padding: 0;
}
ul.menu ul li a {
width: 130px;
padding: 0 0px;
margin: 0;
font-size: 0.9em;
border: none;
border-bottom: 1px solid #353539;
}
ul.menu ul li:last-child a { border: none; }
td, th {
margin: 1px; 
padding: 1px;
  color: #fff;
  font-weight: bold;
}
table a:link {
text-decoration: none;
color: #ccc;
}
table a:visited {
background: inherit;
color: #fff;
text-decoration: line-through;
}
table a:hover {
background: inherit;
color: #000;
position: relative;
top: 1px;
left: 1px;
text-decoration: none;
}
body {
background-color: #333333;
}
#alert {
overflow: hidden;
width: 100%;
text-align: center;
position: absolute;
top: 0;
left: 0;
background-color: #fff;
height: 0;
color: #FF0000;
font: 18px/25px arial, sans-serif;
opacity: .9;
}
a:focus img {
border: 8px solid red;
border-radius: 180px;
}
*:focus {
outline: 5px solid red;
outline-radius: 180px;
}
.activo {
color:#000;
background-color: #FFF;
border:1px solid #666;
border-bottom-color:#EEE;
border-right-color:#CCC;
text-align:left;
font-size:16px;
width: auto;
}
.inactivo {
color:#fff;
background-color: transparent;
border:0px;
text-align:left;
font-size:16px;
width: auto;
}
.inputon {
color:#000;
background-color: #FFF;
border:1px solid #666;
border-bottom-color:#EEE;
border-right-color:#CCC;
text-align:right;
font-size:16px;
width: 120px;
}
.inputoff {
color:#fff;
background-color: transparent;
border:0px;
text-align:right;
font-size:16px;
width: 120px;
}
.cajhabiltada {
color:#000;
background-color: #FFF;
border:1px solid #666;
border-bottom-color:#EEE;
border-right-color:#CCC;
text-align:center;
font-weight:bold;
font-size:30px;
width: 120px;
}
.cajdeshabiltada {
color:#fff;
background-color: transparent;
border:0px;
text-align:center;
font-weight:bold;
font-size:30px;
width: auto;
}
.cajund {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-weight:bold;
font-size:30px;
}
.cajvtotal {
color:#fff;
background-color: #000;
border:0px;
text-align:right;
font-weight:bold;
font-size:30px;
width: 150px;
}
.alingcenter {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-weight:bold;
font-size:30px;
width: auto;
}
.alingizq {
color:#fff;
background-color: #000;
border:0px;
text-align:left;
font-weight:bold;
font-size:16px;
}
.alingder {
color:#fff;
background-color: #000;
border:0px;
text-align:right;
font-weight:bold;
font-size:16px;
}
.cajgrand {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-size:16px;
width: 75px;
}
.cajextragrand {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-size:16px;
width: 85px;
}
.cajbarras {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-size:16px;
width: 120px;
}
.cajsuper {
color:#fff;
background-color: #000;
border:0px;
text-align:left;
font-size:15px;
width: 400px;
}
.cajnombres {
color:#fff;
background-color: #000;
border:0px;
text-align:left;
font-size:15px;
width: 200px;
}
.cajpequena {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-size:16px;
width: 30px;
}
.fechas {
color:#fff;
background-color: #000;
border:0px;
text-align:center;
font-size:16px;
width: 100px;
}